node_modules
dist
.tags
.tags1
gulpfile.js
.idea
yarn.lock
qualitymarkets
yarn-error.log
npm-debug.log*
.svn
**/.DS_Store
**/.vs
**/.vscode
.sass-cache/
*.map
selenium-debug.log
test/e2e/reports
test/unit/coverage
test/**/*.ts
package-lock.json
tsconfig.json
jsconfig.json
**/*.ts
