
.agreement p {
  width: 100%;
  text-indent: 24px;
  line-height: 1.8;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.agreement  h1 {
  font-size: 18px;
  text-align: center;
  padding: 20px 0;
}

.agreement h2, .agreement  h5 {
  padding: 8px 0;
  margin: 0;
  line-height: 1.8;
}

.agreement  h2 {
  text-align: center;
}

.agreement  h5 {
  font-size: 14px;
  text-align: center;
}

.agreement  table {
  width: 100%;
}

.agreement table, .agreement td, .agreement th {
  border: solid 1px #CCC;
  font-size: 14px;
}

.agreement td, .agreement th {
  text-align: center;
  padding: 5px 0;
}

.agreement a {
  text-decoration: underline;
  display: inline-block;
  text-indent: 0px;
  color: black;
}

.agreement b {
  text-indent: 24px;
  display: block;
  line-height: 1.8;
  font-size: 14px;
}

.tr {
  text-align: right;
}
